/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 10px;
  background: #1f2937;
  color: white;
}
.header p {
  float: right;
  font-size: 15px;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.header button {
  float: right;
  font-size: 15px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
  border-color: transparent;
  background-color: transparent;
  height: 30px;
  cursor: pointer;
}

.header h1 {
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.splashscreen {
  background-color: #1f2937;
  padding: 25px;
  float: left;
}
.splashscreen img {
  float: right;
  width: 500px;
  height: 260px;
  padding: 50px;
  padding-left: 10%;
  padding-right: 5%;
}


.splashscreen .title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
}
.splashscreen .secondary-text {
  color: #e5e7eb;
  font-size: 18px;
}

.action-button
{
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  border-color: transparent;
  cursor: pointer;
}
