/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

.spacer {
  margin-top: 300px;
  margin-bottom:300px;
}

/* Header/Logo Title */
.header {
  padding: 10px;
  background: #1f2937;
  color: white;
}
.header p {
  float: right;
  font-size: 15px;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.header button {
  float: right;
  font-size: 15px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
  border-color: transparent;
  background-color: transparent;
  height: 30px;
  cursor: pointer;
  color:#E5E7EB;
}

.header h1 {
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.splashscreen {
  background-color: #1f2937;
  padding: 25px;
  float: left;
}
.splashscreen img {
  float: right;
  width: 500px;
  height: 260px;
  padding: 50px;
  padding-left: 10%;
  padding-right: 5%;
}


.splashscreen .title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
}
.splashscreen .secondary-text {
  color: #e5e7eb;
  font-size: 18px;
}

.action-button
{
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  border-color: transparent;
  cursor: pointer;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.box {
  display:center;
  width: 250px;
  height: 250px;
  margin-top: 50px;
  padding: 25px;
}


.quote p{
  background-color: #1f2937;
  padding: 125px;
  padding-left: 20%;
  padding-right: 20%;
  color: #E5E7EB;
  font-size: 36px;
  font-style: italic;
  display: flex;
}


.banner
{
  display: flex;
  justify-content: space-between;
  margin: 150px;
  padding-left: 100px;
  padding-right: 100px;
  color: #E5E7EB;
  font-size: 18px;
  border-radius: 15px;
  background-color: #3882F6;
}


.banner-button
{
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
  width: 150px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  border: 5px solid #f9faf8;
  cursor: pointer;
}
.paragraphs {
    display: flex;
    flex-direction: column;
    padding: 25px;
    
}

.footer {
  text-align: center;
  font-size: 15px;
  height: 25px;
  width: 100%;
  padding: 10px;
  background: #1f2937;
  color: white;
}